python-dotenv
pandas
qdrant-client
llama-index
llama-index-llms-huggingface-api
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-retrievers-bm25
streamlit
transformers
torch
huggingface-hub